a.bouton {
    background-color: rgb(82, 114, 116);
    color : white;
    text-align: center;
    padding: 1% 7%;
    text-decoration: none;
    border-radius: 5px;
    margin : 3%;
    
}
a.bouton:hover {
    background-color:rgb(109, 61, 61);
}
h1 {
    padding : 135px 75px;
    z-index: 5;
    font-variant: small-caps;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif    ;
    font-size: 100px;
    color: rgb(78, 44, 170);
    text-shadow: 5px 5px 10px #160d47;
}
h2 {
    font-size: 35px;
    text-align: center;
    font-style:italic;
}

img.vignette {
    border-radius : 80%;
    width : 400px;
    height : 200px;
   

}
img.vignette:hover {
    opacity:58%

}

#entete{
        display:flex;
        justify-content: space-around;
       margin-left: 10px;
    }
#logo{
    width: 10%;
}

nav {
	margin: -20px;
    padding: 0%;
    margin-bottom: 10px;

    background-color: #222222;
    display:flex;
    justify-content: space-around;
	
}

body {
	
    height:auto;
    background-image:url("https://i.imgur.com/Ev1Uefe.jpg");
	background-attachment:fixed;
	background-size:cover;
	height:auto;
    padding:0px
}
    
    

#ligne1, #ligne2, #ligne3, #ligne4 {
    display : flex;

justify-content: space-around;
}